# Environment
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
terraform/tfplan
